::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

body > div {
  display: flex;
}

/* Roboto Black */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Roboto Medium */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Roboto Light */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Roboto Thin */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

#header,
#footer {
  background-color: #1f2937;
}

#header {
  padding: 0 14.5%;
  flex-direction: column;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerHome {
  text-decoration: none;
}

.headerLogo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.headerMessageTitle {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.headerList,
.headerMessageText {
  color: #e5e7eb;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.headerList {
  gap: 1.5em;
  display: flex;
  list-style-type: none;
}

.headerLink {
  color: inherit;
  text-decoration: none;
}

.headerButton {
  color: #f9faf8;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  padding: 0.5em 2em;
  border-radius: 10px;
  background-color: #3882f6;
}

.headerButton:hover {
  cursor: pointer;
}

.headerContent {
  padding-bottom: 13%;
  padding-top: 10%;
  display: flex;
  gap: 7%;
}

.headerImage {
  width: 550px;
  height: 250px;
  color: #f9faf8;
  font-size: 18px;
  background-color: #6d747d;
  justify-content: center;
  align-items: center;
  display: flex;
}

#info {
  padding: 30px;
  align-items: center;
  flex-direction: column;
}

.infoTitle {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.infoBoxes {
  margin-top: 20px;
  display: flex;
  gap: 50px;
}

.infoBox {
  width: 170px;
  display: flex;
  flex-direction: column;
}

.infoBoxImage {
  border: 4px solid #3882f6;
  border-radius: 10%;
  height: 170px;
}

.infoBoxText {
  color: #4d545d;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

#quote {
  padding: 128px 24%;
  flex-direction: column;
  background-color: #e5e7eb;
}

.quoteText {
  margin: 0;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quoteAuthor {
  margin: 0 2em 0 0;
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}
