::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

:root {
  color-scheme: dark;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#header,
#footer {
  background-color: #1f2937;
}

#header {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerHome {
  text-decoration: none;
}

.headerLogo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.headerMessageTitle {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.headerList,
.headerMessageText {
  color: #e5e7eb;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.headerList {
  gap: 1.5em;
  display: flex;
  list-style-type: none;
}

.headerLink {
  color: inherit;
  text-decoration: none;
}

.headerButton {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  padding: 0.5em 2em;
  border-radius: 10px;
  background-color: #3882f6;
}

.headerButton:hover {
  cursor: pointer;
}

.headerContent {
  display: flex;
  padding: 10% 0;
  gap: 7%;
}

.headerImage {
  width: 550px;
  height: 250px;
}

#quote {
  background-color: #e5e7eb;
}
